/* PhoneList.css */
.phone-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .phone-item {
    background-color: #ffffff;
    border: 2px solid #66cdd9;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    width: 200px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .phone-item:hover {
    background-color: #f0f8ff;
    transform: scale(1.05);
  }
  
  .phone-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .phone-info {
    margin-top: 10px;
  }
  
  .phone-info h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .capacity,
  .price,
  .provider {
    margin: 5px 0;
    color: #666;
  }

  /* 드롭다운 관련 스타일 */
.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  /* gap: 10px;  */ /* 문구와 버튼 사이 간격 */
}

.dropdown-label {
  font-size: 16px;
  color: #03588c;
  font-weight: bold;
}

  .dropdown {
    position: relative;
    /* display: inline-block; */
  }
  
  .dropdown-toggle {
    background-color: #66cdd9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-menu {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #8dc8ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    min-width: 150px;
    /* padding: 5px 0; */
  }
  
  .dropdown-menu.show {
    display: block; /* 드롭다운 활성화 시 표시 */
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    /* padding: 10px 20px; */
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #66cdd9;
  }
  