
.history-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* MemberDetails보다 높게 */
}

.history-content { /* 내용 컨테이너 */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px; /* 적절한 너비 설정 */
    max-height: 80vh; /* 최대 높이 설정 (화면 높이의 80%) */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
    position: relative; /* close button absolute position 기준점 */
    display: flex; /* flexbox 추가 */
    flex-direction: column; /* flex direction 추가 */
    overflow: hidden; /* history-content 자체의 스크롤 방지 */
}

.history-header { /* 제목과 닫기 버튼을 감싸는 wrapper 추가 */
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-bottom: 10px; /* history-details와의 간격 */
    position: sticky; /* sticky position 적용 */
    top: 0; /* 상단에 고정 */
    background-color: white; /* 배경색 추가 (스크롤 시 내용 가려짐 방지) */
    z-index: 1; /* 다른 요소 위에 표시 */
    padding-bottom: 10px; /* history-details와의 간격 */
}

.history-header h3 {
    margin: 0;
}

.history-content .close-button { /* 내용 컨테이너 내부 close button */
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f00;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.history-details {
    overflow-y: auto;
    max-height: calc(80vh - 70px); /* history-header 높이 + margin 값 조절 */
    padding-top: 10px; /* 제목과의 간격 */
    flex-grow: 1; /* 남는 공간을 history-details가 모두 차지하도록 함 */
}


.history-content .close-button {
    background: #f00;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.history-content p {
    margin: 10px 0;
}

.table-container {
    max-height: 400px; /* 원하는 최대 높이를 설정 */
    overflow-y: auto; /* 수직 스크롤 활성화 */
    border: 1px solid #ddd; /* 스크롤 컨테이너 경계선 */
    position: relative; /* 헤더 고정에 필요한 기준점 */
  }

.history-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .history-table th,
  .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .history-table th {
    position: sticky; /* 헤더를 고정 */
    top: 0; /* 고정 위치 */
    background-color: #f4f4f4; /* 헤더 배경색 */
    z-index: 2; /* 헤더가 위에 표시되도록 설정 */
    font-weight: bold;
  }
  
  .history-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* 행 색상 구분 */
  }