.member-details {
    width: 500px;
    height: 700px;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute; /* or fixed depending on your layout */
    top: 50%;
    right: 0; /* Adjust as needed */
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}
.member-info{
    margin-bottom: 20px;
}
.usage-info {
    display: flex;
    justify-content: space-around; /* 원형 그래프를 균등하게 배치 */
}
.circle-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}