/* PhoneList.css */
.phone-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.phone-item {
  background-color: #ffffff;
  border: 2px solid #66cdd9;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  width: 200px;
  transition: transform 0.3s, background-color 0.3s;
}

.phone-item:hover {
  background-color: #f0f8ff;
  transform: scale(1.05);
}

.phone-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.phone-info {
  margin-top: 10px;
}

.phone-info h3 {
  font-size: 18px;
  margin: 10px 0;
}

.capacity,
.price,
.provider {
  margin: 5px 0;
  color: #666;
}

/* 드롭다운 관련 스타일 */
.dropdown-container {
display: flex;
align-items: center;
justify-content: center;
margin: 20px 0;
/* gap: 10px;  */ /* 문구와 버튼 사이 간격 */
}

.dropdown-label {
font-size: 30px;
color: #03588c;
font-weight: bold;
}

/* 드롭다운 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* 드롭다운 토글 버튼 */
.dropdown-toggle {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* 드롭다운 토글 버튼 활성화 상태 */
.dropdown-toggle:hover {
  background-color: #e0e0e0;
}

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%; /* 버튼 바로 아래 */
  left: 0px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px 0;
  min-width: 150px; /* 드롭다운 메뉴의 최소 너비 */
  display: none; /* 기본적으로 숨김 */
}

/* 드롭다운 활성화 시 */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* 드롭다운 메뉴 버튼 */
.dropdown-menu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: #03588c; /* 폰트색 */
  background-color: #ffffff;
}

/* 드롭다운 메뉴 버튼 호버 */
.dropdown-menu button:hover {
  background-color: #66cdd9;
  color: #ffffff; /* 호버 시 폰트색 */
}