
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* PhoneList.css */
.phone-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.phone-item {
  background-color: #ffffff;
  border: 2px solid #66cdd9;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  width: 200px;
  transition: transform 0.3s, background-color 0.3s;
}

.phone-item:hover {
  background-color: #f0f8ff;
  transform: scale(1.05);
}

.phone-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.phone-info {
  margin-top: 10px;
}

.phone-info h3 {
  font-size: 18px;
  margin: 10px 0;
}

.capacity,
.price,
.provider {
  margin: 5px 0;
  color: #666;
}

/* 드롭다운 관련 스타일 */
.dropdown-container {
display: flex;
align-items: center;
justify-content: center;
margin: 20px 0;
/* gap: 10px;  */ /* 문구와 버튼 사이 간격 */
}

.dropdown-label {
font-size: 35px;
color: #03588c;
font-weight: bold;
font-family: 'PyeongChangPeace-Bold', sans-serif;
margin-top: 70px;
text-shadow: 
        -2px -2px 0 #ffffff, /* 왼쪽 위 */
         2px -2px 0 #ffffff, /* 오른쪽 위 */
        -2px  2px 0 #ffffff, /* 왼쪽 아래 */
         2px  2px 0 #ffffff; /* 오른쪽 아래 */
margin-right: -10px;
}

/* 드롭다운 */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 80px;
}


.dropdown .dropdown-toggle {
  font-size: 20px;
  font-family: 'LotteMartDream', sans-serif;
}
  

/* 드롭다운 토글 버튼 */
.dropdown-toggle {
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  
}

/* 드롭다운 토글 버튼 활성화 상태 */
.dropdown-toggle:hover {
  background-color: #e0e0e0;
}

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%; /* 버튼 바로 아래 */
  left: 0px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px 0;
  min-width: 150px; /* 드롭다운 메뉴의 최소 너비 */
  display: none; /* 기본적으로 숨김 */
}

/* 드롭다운 활성화 시 */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* 드롭다운 메뉴 버튼 */
.dropdown-menu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: #03588c; /* 폰트색 */
  background-color: #ffffff;
}

/* 드롭다운 메뉴 버튼 호버 */
.dropdown-menu button:hover {
  background-color: #66cdd9;
  color: #ffffff; /* 호버 시 폰트색 */
}